<!-- <app-bind></app-bind> -->

<!-- <div>
	输入属性
</div>
<div>
	我是父组件
</div>
<div>
	<input type="text" placeholder="请输入股票代码" [(ngModel)]="stock">
	<app-order [stockCode]="stock" [amount]="100"></app-order>
</div>

<app-price-quote (PriceChange)="priceQuetoHandler($event)"></app-price-quote>

<div>父组件</div>
<div>股票代码 来自子组件{{priceQuote.stockCode}}</div>
<div>股票价格 来自子组件{{priceQuote.lastPrice | number : '2.2-2'}}</div> -->
<!-- 
<div>中间人模式</div>
<app-price-quote (buy)="buyHandler($event)"></app-price-quote>
<app-order [priceQuote]="priceQuote"></app-order> -->

<!-- <app-life [name]="title"></app-life> -->

<!-- <div class="parent">
	<h2>
		我是父组件
	</h2>
	<div>
		问候语: <input type="text" [(ngModel)]="greeting">
	</div>
	<div>
		姓名: <input type="text" [(ngModel)]="user.name">
	</div>
	<app-child [greeting]="greeting" [user]="user"></app-child>
</div> -->

<!-- <app-child #child1></app-child>
<app-child #child2 ></app-child>
<button (click)="child2.greetingMethod('jerry')">Invoke Child2</button>
{{message}} -->

<!-- <div class="wrapper">
	<h2>parent component</h2>
	<div>div defined in parent component</div>
	<app-child>
	    <div class="header"> header parent div projection on child div {{title}}</div>
		<div class="footer"> footer parent div projection on child div</div>
	</app-child>	
</div>
{{message2}}
<div [innerHTML]="divContent"></div>

<a href="" [routerLink]="['/']">child1</a>
<a href="" [routerLink]="['/child2']">child2</a> -->
<router-outlet></router-outlet>

<app-template-form></app-template-form>
<app-product></app-product>
<app-web-socket></app-web-socket>
<!-- 
<app-reactive-form></app-reactive-form>

<app-reactive-regist></app-reactive-regist> -->
